@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');

* {
    background-color: black;

}

.pt-sans-bold { font-family: 'PT Sans', sans-serif;font-weight: 700; }

.header {
    margin: 34px 175px 0px 175px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 1109.98px;
    height: 200px;

    
}

.main-home {
    display: flex;
    justify-content: space-between;

}

.main-call {
    width: 487px;
    height: 304px;
    top: 207;
}

h1{
    color: white;
}

strong{
    color: orangered;
}

p{
    color: white;
}

.orcamento{
    color: orangered;
}

ul {
    display: inline-flex;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    padding: 0 20px;
    color: white;
}

.botao{
    color: orangered;
}

button {
    background-color: orangered;
    color: white;
}