@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');

* {
    background-color: black;
    --purple: white;
}

.pt-sans-bold { font-family: 'PT Sans', sans-serif;font-weight: 700; }

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-home {
    display: flex;
    justify-content: space-between;
}

h1{
    color: white;
}

strong{
    color: orangered;
}

p{
    color: white;
}

.orcamento{
    color: orangered;
}

ul {
    display: inline-flex;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    padding: 0 20px;
    color: white;
}

.botao{
    color: orangered;
}

button {
    background-color: orangered;
    color: white;
}